{% extends 'base.html.twig' %}

{% block title %}Hello EngredientController!{% endblock %}

{% block body %}


<table class="table table-hover">
  <thead>
    <tr class="table-dark">
      <th scope="row">Engredient</th>
      <td>Price</td>
      <td>id</td>
      <td>Modify</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
     {% for engredient in all %}
     <tr>
      <td>{{engredient.name}}</td>
      <td>{{engredient.price}}</td>
       <td>{{engredient.id}}</td>
      <td><a href="{{ path('engredient.edit', { id: engredient.id } ) }}" class="alert-danger"><button class="btn btn-outline-info btn-sm">Modify</button></a></td>
      <td><a href="{{ path('engredient.delete', { id: engredient.id } ) }}" class="alert-danger"><button class="btn btn-danger btn-sm">Delete</button></a></td>
      
     </tr>
     {% endfor %}
  </tbody>
</table>
<div class="container sm-4">
{{knp_pagination_render(all)}}

</div>
{% for a in app.flashes('modify')%}
<div class="alert alert-success">
{{ a}}
</div>
{% endfor %}
{% for a in app.flashes('deleted')%}
<div class="alert alert-danger">
{{ a}}
</div>
{% endfor %}

{% for a in app.flashes('create')%}
<div class="alert alert-success">
{{ a}}
</div>
{% endfor %}



{% endblock %}
